<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <title>My Academic Journey</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="main.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
 
<body>
<script src="main.js"></script>
<svg display="none">
	<symbol id="arrow">
		<polyline points="7 10,12 15,17 10" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
	</symbol>
</svg>
<h1>My Academic Journey</h1>
<div id="timeline" class="timeline">
	<div class="btn-group">
		<button class="btn" type="button" data-action="expand">Expand All</button>
		<button class="btn" type="button" data-action="collapse">Collapse All</button>
	</div>
	<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item1" aria-labelledby="item1-name" aria-expanded="false" aria-controls="item1-ctrld" aria-haspopup="true" data-item="1">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item1-name" class="timeline__meta">
				<time class="timeline__date" datetime="1970-01-01">January, 2020 - December, 2023</time><br>
				<strong class="timeline__title">MSU Denver</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item1-ctrld" role="region" aria-labelledby="item1" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Bachelors in Computer Science with a minor in Mathematics</p>
				<p class="timeline__item-p">Completed the following courses:
-Intro to Chicana/o Studies
-Intro to Technical Writing
-Computer Science 1
-Discrete Math for Computer Science
-Computers, Ethics & Society
-Computer Science Principles
-Computer Organization 1
-Computer Science Organization 1
-Computer Science 2
-Probability and Statistics
-Software Development Methods and Tools
-Computational Matrix Algebra
-Computer Organization 2
-Operating Systems 
-Principles of Programming Languages
-Natural Language Processing with Deep Learning
-Networking & Distributed Computing
-Senior Experience in Computer Science
-Computer & Network Security
-Algorithms and Algorithm Analysis
-Pedagogy for LAs
					</p>
			</div>
		</div>
	</div>
	<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item2" aria-labelledby="item2-name" aria-expanded="false" aria-controls="item2-ctrld" aria-haspopup="true" data-item="2">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item2-name" class="timeline__meta">
				<time class="timeline__date" datetime="1973-10-17">August, 2017 - December, 2019</time><br>
				<strong class="timeline__title">CCD</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item2-ctrld" role="region" aria-labelledby="item2" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Associate of Science</p>
				<p class="timeline__item-p">Completed the following courses:
-Spanish Language I
-Spanish Language II
-Spanish Language III
-Calculus III
-English Composition II
-Ethics: AH3
-Physics Calc-Based I
-Principles of Microeconomics: SS1
-Robotics Design
-The World: Antiquity-1500:HI1
-Physics Calc-Based II
                               </p>
			</div>
		</div>
	</div>
	<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item3" aria-labelledby="item3-name" aria-expanded="false" aria-controls="item3-ctrld" aria-haspopup="true" data-item="3">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item3-name" class="timeline__meta">
				<time class="timeline__date" datetime="2001-09-09">August, 2015 - May 2017</time><br>
				<strong class="timeline__title">CCA</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item3-ctrld" role="region" aria-labelledby="item3" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Applied Technology</p>
				<p class="timeline__item-p">
					Completed the following courses:
-Public Speaking
-English Composition I
-General Psychology I
-College Trigonometry
-Calculus I
-Calculus II
-College Chemistry I
				</p>
			</div>
		</div>
	</div>
	<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item4" aria-labelledby="item4-name" aria-expanded="false" aria-controls="item4-ctrld" aria-haspopup="true" data-item="4">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item4-name" class="timeline__meta">
				<time class="timeline__date" datetime="2009-02-13">August, 2015 - December, 2017</time><br>
				<strong class="timeline__title">Pickens Technical College</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item4-ctrld" role="region" aria-labelledby="item4" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Advanced Manufacturing</p>
			</div>
		</div>
	</div>
	<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item5" aria-labelledby="item5-name" aria-expanded="false" aria-controls="item5-ctrld" aria-haspopup="true" data-item="5">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item5-name" class="timeline__meta">
				<time class="timeline__date" datetime="2033-05-18">August, 2014 - May, 2015</time><br>
				<strong class="timeline__title">Pickens Technical College</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item5-ctrld" role="region" aria-labelledby="item5" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Advanced Mobile Apps Tools</p>
			</div>
		</div>
	</div>
	<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item6" aria-labelledby="item6-name" aria-expanded="false" aria-controls="item6-ctrld" aria-haspopup="true" data-item="6">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item6-name" class="timeline__meta">
				<time class="timeline__date" datetime="2038-01-19">August,2013 - May, 2014</time><br>
				<strong class="timeline__title">Pickens Technical College</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item6-ctrld" role="region" aria-labelledby="item6" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Enterprise Computer Service Technician</p>
			</div>
		</div>
	</div>
		<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item6" aria-labelledby="item6-name" aria-expanded="false" aria-controls="item6-ctrld" aria-haspopup="true" data-item="6">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item6-name" class="timeline__meta">
				<time class="timeline__date" datetime="2038-01-19">January, 2013 - May, 2013</time><br>
				<strong class="timeline__title">Pickens Technical College</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item6-ctrld" role="region" aria-labelledby="item6" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Business Office Skills</p>
			</div>
		</div>
	</div>
</div>
	</body>
</html>

